<!-- tasks folder is unused, as the problem statement is concerned only on backend -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Sign Up</title>
</head>
<body>
    <%- include('./partials/nav') %>
    
    <div class="container mt-4">

      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
          Filter
        </button>

        <form class="dropdown-menu p-4" action="/tasks/" method="GET">

          <div class="mb-3">
            <label for="priority" class="form-label">Priority</label>
            <input type="text" name="priority" class="form-control" id="priority" placeholder="Priority">
         </div>

          <div class="mb-3">
            <label for="due_date" class="form-label">Due Date:</label>
            <input type="date" id="due_date" name="due_date" class="form-control" placeholder="Priority">
          </div>

          <div class="mb-3">
            <label for="page">Page</label>
            <input type="number" class="form-control" name="page" id="page"/>
          </div>

          <button type="submit" class="btn btn-primary">Apply</button>
        </form>
      </div>

    </div>

    <%- include('./partials/scripts') %>
</body>
</html>