<!-- tasks folder is unused, as the problem statement is concerned only on backend -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Sign Up</title>
</head>
<body>
    <%- include('./partials/nav') %>
    
    <div class="container mt-4">

      <form action="/tasks/?<%= taskid %>" method="POST">
        
        <div class="mb-3">
          <label for="due_date" class="form-label">Due Date:</label>
          <input type="date" id="due_date" name="due_date" class="form-control">
        </div>
        
        <div class="mb-3">
          <label for="status" class="form-label">Status</label>
          <input type="text" name="status" class="form-control" id="status" placeholder="TODO or IN_PROGRESS or DONE">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>

    <%- include('./partials/scripts') %>
</body>
</html>